<xml>
  <ToUserName><![CDATA[<%= FromUserName %>]]></ToUserName>
  <FromUserName><![CDATA[<%= ToUserName %>]]></FromUserName>
  <CreateTime><%= time %></CreateTime>
  <MsgType><![CDATA[text]]></MsgType>
  <Content><![CDATA[<%= title %>
<a href="<%= url %>">点击下载</a>]]></Content>
</xml>